.wrapper-slider {
  width: 400px;
  height: 650px;
  margin: 0 auto;
}

.btns {
  text-align: center;
  display: flex;
  width: 400px;
  justify-content: space-between;
  position: absolute;
  top: 50%;
}

.next, .prev {
  border: none;
  background: none;
}

.slider-container {
  width: 400px;
  height: 650px;
  overflow: hidden;
}

.slider-track {
  display: flex;
  transition: 2s;
  transform: translate(0, 0);
}

.wrapper {
  min-width: 400px;
  max-width: 400px;
  height: 650px;
}

.item {
  height: 100%;
  width: 100%;
}
/*
@keyframes fade {
  from {
      width: 0;
  }
  to {
      width: 100px;
  }
} */

.blue {
  background: blue;
}

.green {
  background: green;
}

.orange {
  background: orange;
}




.raspberry-2 {
  width: 40%;
  margin-left: 65%;
  margin-top: 75%;
  position: absolute;
  animation-name: raspberry;
  animation-duration: 2s;
}

.raspberry-1 {
  width: 40%;
  position: absolute;
  margin-top: 80%;
  margin-left: -15%;
  animation-name: raspberry;
  animation-duration: 2s;
}

@keyframes raspberry {
  0% {
    width: 0px;
  }
  50% {
    width: 0px;
  }
  100% {
    width: 40%;
  }
}

.pepermint-1 {
  width: 45%;
  position: absolute;
  margin-top: 120%;
  margin-left: 0;
  animation: pepermint-1 2s;
}

@keyframes pepermint-1 {
  0% {
    width: 0;
  }
  50% {
    width: 0;
  }
  100% {
    width: 45%;
  }
}

.pepermint-2 {
  width: 25%;
  margin-top: 145%;
  margin-left: 80%;
  position: absolute;
  animation: pepermint-2 2s; 
}

@keyframes pepermint-2 {
  0% {
    width: 0;
  }
  50% {
    width: 0;
  }
  100% {
    width: 25%;
  }
}

.seed-1 {
  width: 10%;
  position: absolute;
  margin-top: 130%;
  margin-left: 85%;
  animation: seed 2s; 
}

.seed-2 {
  position: absolute;
  width: 10%;
  margin-top: 110%;
  margin-left: 95.5%;
  animation: seed 2s; 
}

@keyframes seed {
  0% {
    width: 0;
  }
  50% {
    width: 0;
  }
  100% {
    width: 10%;
  }
}

.peppermint-product {
  position: absolute;
  margin-left: 25%;
  margin-top: 90%;
  width: 50%;
  height: 25%;
}

.shop-now {
  position: absolute;
  width: 50%;
  margin-top: 140%;
  margin-left: 25%;
}

.raspberry-1-1 {
  position: absolute;
  width: 40%;
  position: absolute;
  margin-top: 60%;
  margin-left: -10%;
  animation-name: raspberry;
  animation-duration: 2s;
}

.raspberry-product-container {
  position: absolute;
  margin-left: 25%;
  margin-top: 90%;
  width: 50%;
  height: 25%;
}

.raspberry-product {
  position: absolute;
  width: 100%;
  height: 100%;
}

.raspberry-img {
  width: 60%;
  margin-top: -25%;
  margin-left: 60%;
  animation-name: raspberry-2;
  animation-duration: 2s;
}

.raspberry-img-2 {
  width: 60%;
  margin-left: 70%;
  margin-top: -40%;
  animation-name: raspberry-2;
  animation-duration: 2s;
}

@keyframes raspberry-2 {
  0% {
    width: 0;
  }
  50% {
    width: 0;
  }
  100% {
    width: 60%;
  }
}

.petal-1 {
  position: absolute;
  width: 30%;
  margin-top: 70%;
  margin-left: 80%;
  animation-duration: 2s;
  animation-name: petal;
}

.petal-2 {
  position: absolute;
  width: 30%;
  margin-top: 110%;
  margin-left: -15%;
  animation-duration: 2s;
  animation-name: petal;
}

@keyframes petal {
  0% {
    width: 0;
  }
  50% {
    width: 0;
  }
  100% {
    width: 30%;
  }
}

.lemon {
  position: absolute;
  width: 45%;
  margin-top: 130%;
  animation-name: lemon;
  animation-duration: 2s;
}

@keyframes lemon {
  0% {
    width: 0;
  }
  50% {
    width: 0;
  }
  100% {
    width: 45%;
  }
}

.peach {
  width: 60%;
  margin-top: -25%;
  margin-left: 60%;
  animation-name: peach;
  animation-duration: 2s;
}

@keyframes peach {
  0% {
    width: 0;
  }
  50% {
    width: 0;
  }
  100% {
    width: 60%;
  }
}

.headers .header-next {
  width: 400px;
  animation: header 1s;
}

@keyframes header {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

.header {
  width: 400px;
}

.pepermint-tagline {
  width: 400px;
  height: 40%;
  position: absolute;
  animation: pepermint-tagline 2s;
}

@keyframes pepermint-tagline {
  0% {
    margin-top: -100%;
    display: none;
  }
  50% {
    display: block;
    margin-top: -100%;
  }
  100% {
    margin-top: 0;
    display: block;
  }
}

.pepermint-tagline-back {
  width: 100%;
  height: 100%;
  position: absolute;
}

.pepermint-tagline-text {
  position: absolute;
  width: 80%;
  margin-top: 30%;
  margin-left: 10%;
  animation: pepermint-tagline-text 3s;
}

@keyframes pepermint-tagline-text {
  0% {
    width: 0;
  }
  65% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}

.peppermint-new-banner {
  position: absolute;
  width: 15%;
  margin-left: 10%;
  animation: peppermint-new-banner 3s;
}

@keyframes peppermint-new-banner {
  0% {
    margin-top: -100%;
  }
  65% {
    margin-top: -100%;
  }
  100% {
    margin-top: 0;
  }
}

.new-banner {
  position: absolute;
  width: 15%;
  margin-left: 10%;
}

.tagline {
  width: 100%;
  height: 40%;
  position: absolute;
}

.raspberry-tagline {
  width: 100%;
  height: 100%;
  position: absolute;
}

#plug {
  display: none;
}

@media landscape {
  #plug {
    display: block;
    width: 100%;
    height: 100%;
}

.wrapper-slider {
    display: none;
  }
}
